@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Cabin&family=Oswald&display=swap');

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
}

a {
  color: #333;
  text-decoration: none;
}

.content {
  max-width: 1500px;
  margin: 0 auto;
}

.navbarDisplay {
  display: flex;
}

.navBarContainer {
  z-index: 5;
  position: fixed;
  background-color: f2f2f2;
  height: 4rem;
  width: 80vw;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(225, 225, 225);
  top: 0;
}

.name {
  padding-top: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
  color: #487783;
}

.navBarIcon {
  color: #487783;
  font-weight: 500;
  font-size: large;
}

.navBarIconSmall {
  color: #487783;
  font-weight: 500;
  font-size: large;
}

.navBarLeft {
  font-family: "Archivo";
  text-decoration: none;
}

.navBarRight {
  gap: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Archivo";
}

.navBarLeft:hover {
  opacity: 0.75;
}

.github span {
  gap: 5px;
}

.github div {
  display: flex;
  align-items: center;
}

/* nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 12px;
}

nav .logo {
  margin: 0px 30% 0px 0px;
} */

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.not-found {
  text-align: center;
}

.not-found a{
  color: #4979ff;
  text-decoration: underline;
}
