.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}

.text {
  color: #777;
  justify-content: center;
  align-content: center;
  width: 900px;
  margin-left: 6em;
}

/* styling for the terminal window/header */

.terminalWindow {
  display: flex;
  justify-content: center;
  /* padding-top: 5em;
  padding-bottom: 7em; */
}

.terminalText {
  align-items: center;
  text-align: left;
  justify-content: center;
  margin: 0;
  line-height: 1.5rem;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}

/* Contributors Section */
.TeamContainer {
  display: grid;
  transform: scale(0.8);
}